@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neuemachina-regular.otf');
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: white;
    background: linear-gradient(-45deg, #e97fad, #000, #1C1A81);
    background-size: 150vw 200vh;
    background-repeat: no-repeat;
    animation: headergradient 8s ease infinite alternate;
    min-width: 290px;
}

@media screen and (min-width: 768px) {
    body {
        color: white;
        background: linear-gradient(-45deg, #e97fad, #000, #000, #1C1A81);
        background-size: 150vw 200vh;
        background-repeat: no-repeat;
        animation: headergradient 8s ease infinite alternate;
        min-width: 290px;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

@keyframes headergradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 70%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
}

@media screen and (min-width: 900px) {

    .main {
        margin: 1rem auto;
        max-width: 900px;
    }
}